body{
    margin: 0;
}
.navbar{
    background-color: rgb(51, 53, 70);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}
.logo_division{
    display: flex;
    align-items: center;
}
.logo_division input{
    height: 30px;
    width: 530px;
    border: none;
    border-radius: 5px;
    
}
.links a{
    color: gainsboro;
    text-decoration: none;
    margin-right: 20px;
}
.links a:hover{
    color: white;
}
.links button{
    background-color:rgb(246, 74, 74);
    padding: 6px 16px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 4px;
}
.banner{
    text-align: center;
    padding: 15px 0px;
}
.banner img{
    border-radius: 8px;

}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.info h1{
    font-size: 25px;
}
.info a{
    text-decoration: none;
    color: red;
}
.movie_list{
    display: flex;
    justify-content: space-evenly;
}
.movie_list img{
    border-radius: 10px;
    transition: 0.5s;
}
.movie_list img:hover{
    transform: translateY(15px);
}
.movie_title{
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
}
.genre{
    color: gray;
}
.streaming{
    margin:70px 45px ;
    padding: 0px 80px;
}
.entertainment{
    text-align: center;
    margin: 50px 0px;
}
.entertainment h1{
    font-size: 25px 0nb;
    text-align: left;
    margin-left: 30px;
}
.entertainment img{
    margin: 0px 15px;
    border-radius: 10px;
}